.search-box{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-close{
    position: absolute;
    right:20px;
    bottom:5px;
    font-size: 15px;
  }
  .Iconic-product-img{
    max-width: 80px;
  }
  .Iconic-product-img img{
    width:100%;
  }
  .Iconic-product-text{
    margin-left:10px ;
  }
  .Iconic-product{
    padding: 20px  0;
  }
  .Iconic-product:hover  .Iconic-product-text{
    text-decoration: underline;
  }
  .Iconic-product-title{
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
  }
  .Iconic-product-desc{
    font-size: 16px;
    line-height: 24px;
  }
  .search-find-out-more a{
    padding: 20px 0;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .search-find-out-more a:hover{
    text-decoration: underline;
  }